server:
  port: 8081

spring:
  application:
    name: users-service

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${keycloak.url}/realms/${keycloak.realm}

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

springdoc:
  api-docs:
    path: /api-docs

  swagger-ui:
    oauth:
      client-id: users-service-swagger
      use-pkce-with-authorization-code-grant: true


keycloak:
  clientId: admin-cli
  clientSecret: ${KEYCLOAK_SECRET}
  realm: ${KEYCLOAK_REALM:question-and-answer-app}
  url: ${KEYCLOAK_URL:http://localhost:8180}
