server:
  port: 8082
  forward-headers-strategy: framework

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      mvc:
        routes:
          - id: questions-service-route
            uri: lb://questions-service
            predicates:
              - Path=/questions/**
            filters:
              - StripPrefix=1

          - id: users-service-route
            uri: lb://users-service
            predicates:
              - Path=/users/**
            filters:
              - StripPrefix=1

eureka:
  client:
    register-with-eureka: false
    service-url:
      defaultZone: http://localhost:8761/eureka/
    registry-fetch-interval-seconds: 1
